/.ionide
/.store
bin/
/dotnet-fsharplint.exe
/eunice.html
obj/
/reportgenerator.exe
/Tests/TestResults
/website
/WriteInteractiveInDirectoryPathWithYaml/devsnicket-eunice-interactive-*.tgz
/WriteInteractiveInDirectoryPathWithYaml/index.html