body {
    background-color: #F0F0F0;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

body img {
    max-width: 85vw;
    max-width: calc(100vw - 4em);
}

a:link,
a:visited {
    color: darkred;
}

a:focus {
    outline-color: red;
}

a:hover {
    color: red;
}

a:active {
    background-color: red;
}

body,
a:active {
    color: black;
}

h1 .e, h1 .ce {
    color: darkred;
}

.box {
    color: #070707;
    margin: 0.5rem;
    padding: 0.5rem;
}

.box > * {
    margin: 0.5rem;
}

.box img {
    max-width: 75vw;
    max-width: calc(100vw - 6em);
}

.content {
    max-width: 60em;
}

body > .content {
    margin: 1em auto;
    padding: 0 1em;
}

.detail {
    font-size: 0.7em;
}

code {
    display: block;
    white-space: pre-wrap;
}

.emoji {
    font-family: apple color emoji, segoe ui emoji, noto color emoji, android emoji, emojisymbols, emojione mozilla, twemoji mozilla, segoe ui symbol;
}

body > .footer {
    font-size: 0.8em;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

.box,
body > .header {
    background-color: white;
}

.box,
body > .header,
body > .header .menu a.current {
    border-color: #F7F7F7;
}

body > .header {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-top-width: 1px;
    margin-top: 0.5em;
    padding: 0.5em 1em;
}

body > .header > .content {
    align-items: center;
    display: flex;
    margin: 0 auto 0 auto;
}

body > .header a {
    color: inherit;
    text-decoration: none;
}

body > .header h1 {
    flex-basis: 0;
    margin: 0 0 0.25rem 0;
}

body > .header h1 a {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

body > .header h1 .arrows {
    height: 0.8em;
    margin-left: 0.25em;
    vertical-align: middle;
    width: 2.8em;
}

body > .header .menu {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 0.25em;
}

.box,
body > .header .menu a {
    border-width: 1px;
    border-style: solid;
    border-radius: 0.3em;
}

body > .header .menu a {
    background-color: darkgreen;
    border-color: #7FB17F;
    color: white;
    margin: 0.25em 0.25em 0.25em;
    padding: 0.3em 0.6em;
}

body > .header .menu a.current {
    background-color: #F7F7F7;
    color: unset;
}

.horizontal-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

h1,
h2 {
    color: darkgreen;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.17em;
}

p {
    margin-block-start: 1em;
    margin-block-end: 1em;
}

ul li {
    list-style-image: url(./arrows/down-10x10-07l.svg);
}

@media (prefers-color-scheme: dark) {
    body,
    body > .header .menu a.current {
        background-color: #404040;
    }

    body,
    body > .header .menu a,
    body > .header .menu a.current {
        color: #E0E0E0;
    }

    a:link,
    a:visited {
        color: #E05050;
    }

    body > .content > h1,
    body > .content > h2 {
        color: #50C050;
    }

    .box a:link,
    .box a:visited {
        color: darkred;
    }
    
    ul li {
        list-style-image: url(./arrows/down-10x10-d0l.svg);
    }

    body > .header,
    .box {
        background-color: #B0B0B0;
        color: black;
    }

    body > .header .menu a {
        border-color: #306230;
    }

    body > .header,
    body > .header .menu a.current,
    .box {
        border-color: #888888;
    }

    .box ul li {
        list-style-image: url(./arrows/down-10x10-00l.svg);
    }
}