body {
    background-color: #F7F7F7;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
    
a:link {
    color: darkred;
}

a:visited {
    color: darkred;
}

a:focus {
    outline-color: red;
}

a:hover {
    color: red;
}

a:active {
    background-color: red;
}

body,
a:active {
    color: black;
}

h1 .e, h1 .ce {
    color: darkred;
}

ul li {
    list-style-image: url(./arrows/down-10x10-07l.svg);
}

.box {
    color: #070707;
    margin: 0.5rem;
    padding: 0;
}

.box > * {
    margin: 1rem;
}

.content {
    max-width: 1000px;
}

body > .content {
    margin: 1em auto;
    padding: 0 1em;
}

.emoji {
    font-family: apple color emoji, segoe ui emoji, noto color emoji, android emoji, emojisymbols, emojione mozilla, twemoji mozilla, segoe ui symbol;
}

body > .footer {
    font-size: 0.8em;
    text-align: center;
}

.box,
body > .header {
    background-color: white;
}

body > .header {
    margin-top: 0.5em;
    padding: 0.5em 1em;
}

body > .header > .content {
    align-items: center; 
    display: flex;
    margin: 0 auto 0 auto;
}

body > .header a {
    color: inherit;
    text-decoration: none;
}

body > .header h1 {
    margin: 0;
}

body > .header h1 .arrows {
    height: 0.8em;
    margin-left: 0.25em;
    vertical-align: middle;
    width: 2.8em;
}

body > .header .menu {
    flex-grow: 1;
    margin: 0.8em;
    text-align: right;
}

body > .header .menu a {
    margin-left: 0.5em;
    padding: 0.3em 0.6em;
}

.box,
body > .header .menu a {
    border-radius: 0.2em;
}

body > .header .menu a {
    background-color: darkgreen;
    color: white;
}

body > .header .menu a.current {
    background-color: #F7F7F7;
    color: unset;
}

@media (prefers-color-scheme: dark) {
    body,
    body > .header .menu a.current {
        background-color: #808080;
    }

    body,
    body > .header .menu a,
    body > .header .menu a.current {
        color: #E0E0E0;
    }

    ul li {
        list-style-image: url(./arrows/down-10x10-d0l.svg);
    }

    body > .header, 
    .box {
        background-color: #B0B0B0;
        color: black;
    }

    .box ul li {
        list-style-image: url(./arrows/down-10x10-00l.svg);
    }
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

h1 {
    color: darkgreen;
    font-size: 2em;
}

h2 {
    color: darkgreen;
    font-size: 1.5em;
}

h3 {
    font-size: 1.17em;
}