body > .content {
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
	padding: 0 0.5em;
}

body > .content > *:first-child {
	flex-basis: 0;
	flex-grow: 1;
	flex-wrap: wrap;
}

body > .content > *:nth-child(2) {
	flex-basis: 0;
	flex-grow: 10;
	min-width: 18em;
}

body > .content .side-menu {
	display: flex;
	flex-direction: column;
}

body > .content .side-menu > * {
	display: block;
}

body > .content .side-menu > :not(.side-menu) {
	margin: 0;
	padding: 0.25em;
}

body > .content .side-menu > .side-menu > :not(:first-child) {
	margin-left: 0.5em;
}