/analyzeAndProcessAndRender/analyzeAndProcess/tests/sources/
/analyzeAndProcessAndRender/tests/packageSource/node_modules/
/analyzeAndProcessAndRender/tests/singleSource/source/
/analyzeAndProcessAndRender/tests/singleSourceWithOutputBaseFilename/source/
/harness/example.js
/harness/output/
/test-coverage