cache:
  directories:
    - node_modules
deploy:
  - api_key: $NPM_TOKEN
    email: grahamdyson@hotmail.com
    provider: npm
    skip_cleanup: true
jobs:
  include:
    - stage: root
      install:
        - npm install
      script:
        - npm run all
    - stage: packageWithoutScope
      before_install:
        - cd packageWithoutScope
      script: []
language: node_js
node_js:
  - "8.11.2"
notifications:
  email:
    on_success: never
    on_failure: always