body > .content {
	display: flex;
	flex-wrap: wrap;
	padding: 0 0.5rem;
}

body > .content > div {
	flex-basis: 0;
	flex-grow: 10;
	padding: 0.5rem 0.5rem;
	min-width: 18em;
}

body > .content > h2 {
	align-content: start;
	display: flex;
	flex-basis: 0;
	flex-grow: 1;
	flex-wrap: wrap;
	margin: 0;
}

body > .content > h2 > * {
	display: block;
	padding: 0.5rem;
}