body > .content > img,
body > .content > a.image,
.image-right > img {
	display: block;
	margin: 0 auto;
}

body > .content > a.image {
	text-align: center;
}

@media (min-width: 52em) {
	.image-right {
		align-items: flex-start;
		display: flex;
		flex-wrap: wrap;
	}

	.image-right > :first-child {
		flex-basis: 0;
		flex-grow: 1;
		margin-right: 0.5em;
	}

	.image-right > img {
		margin-left: 0.5em;
	}
}