div.free-usage {
	display: flex;
	justify-content: center;
}

@media (max-width: 60em) {
	div.free-usage {
		flex-wrap: wrap;
	}
}

div.free-usage .box {
	padding: 1em;
}

div.free-usage h2 {
	margin: 0 0 0.5em 0;
	text-align: center;
}

.block-center {
	display: block; 
	margin-left: auto;
	margin-right: auto;
}

.sponsor {
	display: flex;
}

.sponsor .patreon {
	background-color: #FF424D;
	height: 2em;
	padding: 2em;
}

.sponsor a {
	text-decoration: none;
}

.sponsor .on-patreon {
	text-align: center;
}

@media (max-width: 40em) {
	.sponsor {
		flex-wrap: wrap;
	}
}