.terminal {
	background-color: #262626;
	flex-grow: 1;
	margin: 0.5em;
	min-width: 14em;
	text-align: left;
}

.terminal .title-bar {
	background-color: #404040;
	background-image: url(./title-bar-buttons.svg);
	background-position: right center;
	background-repeat: no-repeat;
	color: #D0D0D0;
	font-family: system-ui, sans-serif;
	padding: 0.25em 1em
}

@media (prefers-color-scheme: dark) {
	.box .terminal .title-bar {
		background-color: #505050;
	}
}

code,
.terminal .text {
	color: #D0D0D0;
	font-family: consolas, monospace;
	padding: 0.5em 0.5em 0.5em 0.5em;
}

.terminal .text {
	padding: 0.5em 3em 1.5em 0.5em;
}