; Treat this auth token like a password. Do not share it with anyone, including Microsoft support. This token expires on or before 24/11/2019.
; begin auth token
//pkgs.dev.azure.com/grahamdyson/_packaging/Eunice/npm/registry/:username=Eunice
//pkgs.dev.azure.com/grahamdyson/_packaging/Eunice/npm/registry/:_password=a2ZjcmJiamJ0NjYzbHVmbDRzdG1lbjdrazVtMm80N3BkdjV3cGR3a281cDRsdmVyZXFuYQ==
//pkgs.dev.azure.com/grahamdyson/_packaging/Eunice/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/grahamdyson/_packaging/Eunice/npm/:username=Eunice
//pkgs.dev.azure.com/grahamdyson/_packaging/Eunice/npm/:_password=a2ZjcmJiamJ0NjYzbHVmbDRzdG1lbjdrazVtMm80N3BkdjV3cGR3a281cDRsdmVyZXFuYQ==
//pkgs.dev.azure.com/grahamdyson/_packaging/Eunice/npm/:email=npm requires email to be set but doesn't use the value
; end auth token
always-auth=true
registry=https://pkgs.dev.azure.com/grahamdyson/_packaging/Eunice/npm/registry/
save-exact=true